In [25]:
from random_csv_generator import random_csv
from ugly_csv_generator import uglify
from csv_trimming.utils import is_na
import numpy as np

In [16]:
csv = random_csv(5)
ugly = uglify(csv, duplicate_schema=False, empty_rows=False, seed=30)

HBox(children=(IntProgress(value=0, description='Adding empty columns', max=17, style=ProgressStyle(descriptioâ€¦

In [32]:
def mask_edges(mask:np.ndarray):
    left = right = 0
    for val in mask:
        if not val:
            break
        left += 1
    for val in np.flip(mask):
        if not val:
            break
        right += 1
    mask[left:-right] = False
    return mask

In [42]:
def trim_padding(csv):
    nan_mask = csv.applymap(is_na)
    rows_mask = mask_edges(nan_mask.all(axis=1).values)
    columns_mask = mask_edges(nan_mask.all(axis=0).values)
    return csv[~rows_mask][csv.columns[~columns_mask]]

In [53]:
def trim_single_values(csv):
    nan_mask = csv.applymap(is_na)
    columns_mask = (~nan_mask.sum())<=1
    print(columns_mask)
    return csv[csv.columns[~columns_mask]]

In [54]:
trim_single_values(trim_padding(ugly))

16    5
17    0
18    5
19    0
20    0
21    5
22    0
23    5
24    5
25    0
26    0
27    5
28    0
29    0
30    0
31    5
32    5
33    0
34    0
35    0
36    5
37    5
38    5
39    5
40    5
41    5
42    0
43    5
44    0
45    0
46    0
47    0
48    0
49    5
50    0
51    5
dtype: int64

              46                51             46  ...             46                51             46
2  province_code  birth_province.1  province_code  ...  province_code  birth_province.1  province_code
3             CT               NaN             CT  ...             CT               NaN             CT
4             TO               NaN             TO  ...             TO               NaN             TO
5             SV               NaN             SV  ...             SV               NaN             SV
6             BG               NaN             BG  ...             BG               NaN             BG
7             CR               NaN             CR  ...             CR               NaN             CR

[6 rows x 36 columns]